/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
}

.logo {
  width: 40%;
}

.search_bar {
  display: flex;
  align-items: center;
  width: 30%;
  position: relative;
}

input {
  padding: 0.75em 1em;
  border-radius: 2em;
  border: none;
  background-color: #eeeeee;
  width: 100%;
  font-size: 1em;
  color: #999999;
}

.search_bar img {
  position: absolute;
  right: 1em;
  width: 1.5em;
  height: 1.5em;
}

.account {
  display: flex;
  width: 20%;
  justify-content: end;
}

.account a {
  padding-left: 1em;
}

a:hover {
  text-decoration: underline;
}

/* NAVBAR */
nav {
  margin-bottom: 4em;
}

nav a {
  font-size: 1.25em;
  padding-right: 2em;
  color: #333333;
}

.mobile_menu_icon {
  display: none;
}
